
.item {
    color: white;
    text-decoration: none;
}




.sidebar {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: green;
    grid-area: s;
}


